<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.book.mapper.StudentMapper">
 
    <resultMap id="BaseResultMap" type="com.book.entity.Student">
        <result column="id" 	  property="id" />
        <result column="name" property="name" />
        <result column="age" property="age" />
        <result column="homeAddress" property="homeAddress" />
        <result column="grade" property="grade" />
    </resultMap>
 
    <select id="findStudentByID" resultType="com.book.entity.Student">
        select * from student  where id = #{id}
    </select>
    
    <select id="findAll" resultType="com.book.entity.Student">
        select * from student
    </select>
    
    <insert id="insert" parameterType="com.book.entity.Student">
		insert into student(id,name,age,homeAddress,grade) 
		values(#{id},#{name},#{age},#{homeAddress},#{grade})
	</insert>
	
	<delete id="delete" parameterType="int">
		delete from student where id = #{id}
	</delete>
	
	<update id="update" parameterType="com.book.entity.Student">
		update student set name = #{name},age = #{age},address = #{address},grade = #{grade} where id = #{id}
	</update>
 
 
</mapper>
